/* Zadatak kriptomenjacnica
Napraviti html/css stranu koja će prikazivati grid 5x5 sa widgetima, po sledećem rasporedu:

Grid ima 5 kolona, to su fiat valute: USD, EUR, JPY, KRW i CNY
Grid ima 5 redova, to su kripto valute: BTC, ETH, XRP, BCH i LTC
U hederu strane napraviti tabove za izbor Dark / Light / All
Svaki od widgeta ima dark i light temu, a povlači se kao iframe-ovi sa: https://coinpaymentprocessor.org/widgets/

Ukoliko kandidat ima dodatnu ideju za redizajn pozadine ili grida slobodno ga može implementirati.

Okvirni rok izrade 1h

PS. kao primer je naveden prtscrn sa gridom 4x5 (kolone su kripto valute, a redovi fiat valute) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    /* padding: 0.1rem; */
    font-size: 1.2rem;
    
}
.container {
    display: grid; 
    grid-area: h;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "h h h h h "
}
.Lmakni {
    display: none;
}
